---
import HeaderLink from './HeaderLink.astro'
import HomeIcon from 'heroicons/24/outline/home.svg'
import QuestionMarkCircleIcon from 'heroicons/24/outline/question-mark-circle.svg'
import BookOpenIcon from 'heroicons/24/outline/book-open.svg'

const GLOBAL_NAV = [
  {
    text: 'ホーム',
    subText: 'Home',
    href: '/',
    icon: HomeIcon,
  },
  {
    text: 'このサイトについて',
    subText: 'About',
    href: '/about/',
    icon: QuestionMarkCircleIcon,
  },

  {
    text: 'ブログ',
    subText: 'Blog',
    href: '/blog/',
    icon: BookOpenIcon,
  },
]
---

<header class="fixed flex w-full items-center border-t border-gray-300 px-4 py-2.5 max-md:bottom-0 md:top-0 md:py-5">
  <nav class="flex items-center gap-x-5 max-md:flex-1 max-md:justify-evenly">
    {
      GLOBAL_NAV.map((item) => (
        <HeaderLink href={item.href}>
          <i class="flex max-md:flex-col max-md:items-center md:hidden">
            <img class="h-6 w-6" src={item.icon} alt={item.text} />
            <span class="text-c-xs font-poppins font-bold md:hidden" set:html={item.subText}></span>
          </i>
          <span class="max-md:hidden text-c-sm font-medium" set:html={item.text} />
        </HeaderLink>
      ))
    }
  </nav>
</header>
